.logo_black {
  height: 30px;
  width: 120px;
  margin: 1% auto;
}

.link {
  text-decoration: none;
  color: black;
}

.link_bottom {
  text-decoration: none;
  color: black;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-bottom: 10;
}
